.footerCss{
    width: 100vw;
    height: 3vh;
    border-top: #59cdf7 2px solid;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    box-shadow: darkgreen;
}
.footerCss>h6:nth-child(1){  /*  关于  */
    position: fixed;
    left: 50px;
}
.footerCss>h6:nth-child(2){  /*  中丽  */
    position: fixed;
    left: 700px;
}
.footerCss>h6:nth-child(3){  /*   东华   */
    position: fixed;
    left: 1000px;
}
.footerCss>h6:nth-child(4){   /*  日期  */
    position: fixed;
    left: 1600px;
}
.footerCss>h6:nth-child(5){
    position: fixed;
    left: 1650px;
}
